// ■■■■■ ПЕРЕМЕННЫЕ ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
$fontFamily: 'Roboto', sans-serif; // Семейство шрифта
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1600; // Ширина полотна (макета)
$maxWidthContainer: 1000; // Ширина контейнера вместе с отступами